FORMAT: 1A
HOST: https://api.sharix.tech/

# Sharix API
![Sharix API](https://github.com/Boostvolt/sharix_tv_api/blob/main/SharixAPI.png?raw=true)
At Sharix we collect all kinds of information and sources of movies and shows so that they can be easily watched. Part of the fun with such data is making it available for anyone to process and use on their own website or app. The Sharix API was developed for exactly this purpose. It's very simple to use, you basically call a URL and get some JSON back.

Be sure to check out the [**Required Headers**](#introduction/required-headers) sections to learn more about what needs to be sent with each API call. If you don't include an `access_token` the Sharix API is limited and only a small number of movies and shows will be returned.

# Sharix TV App
![Sharix TV App](https://github.com/Boostvolt/sharix_tv_api/blob/main/SharixTV.png?raw=true)
The Sharix API has been fully implemented in the [**Sharix TV App**](https://sharix.tech) which runs across all devices. These include iOS, iPadOS, tvOS, macOS and Airplay.

# Legal Disclaimer
The Sharix API and the distribution of the Sharix API is not illegal and does not violate DMCA laws. However, use of the Sharix API may be illegal in your region. Check your local laws and regulations regarding the playback of potentially copyrighted content. The operators will not tolerate the Sharix API being used for anything illegal in any state, region, country or planet. Please use the Sharix API at your own risk.

# Status 
The status of the Sharix API services can be checked at [**status.sharix.tech**](https://status.sharix.tech).

# Questions & Bugs 
If you encounter problems using the Sharix API or the documentation is incomplete or incorrect, please create a post on the [**GitHub Discussion**](https://github.com/boostvolt/sharix_tv_api/discussions) section.

# Authorization
**Currently not available.**

To be able to use the Sharix API without limitations., you will need to [**create a new API access token**](https://api.sharix.tech).

# API URL
The API should always be accessed over SSL.

```
https://api.sharix.tech
```

# Verbs
The API uses restful verbs.

| Verb | Description |
|---|---|
| `GET` | Select one or more items. Success returns `200` status code. |

# Status Codes
The Sharix API will respond with one of the following HTTP status codes.

| Code | Description |
|---|---|
| `200` | Success
| `400` | Bad Request - *request couldn't be parsed*
| `401` | Unauthorized - *OAuth must be provided*
| `404` | Not Found - *method exists, but no record found*
| `412` | Precondition Failed - *use application/json content type*
| `422` | Unprocessable Entity - *validation errors*
| `500` | Server Error - *please open a GitHub issue*
| `503` | Service Unavailable - *server overloaded (try again in 30s)*
| `504` | Service Unavailable - *server overloaded (try again in 30s)*
| `520` | Service Unavailable - *Cloudflare error*
| `521` | Service Unavailable - *Cloudflare error*
| `522` | Service Unavailable - *Cloudflare error*

# Required Headers
You'll need to send some headers when making API calls to identify your application, set the version and set the content type to JSON.

| Header | Value |
|---|---|
| `Content-type` <span style="color:red;">*</a> | `application/json` |
| `sharix-api-authorization` | `[access_token]` |
| `sharix-api-version` <span style="color:red;">*</a> | `1` | API version to use.

Some `GET` calls require OAuth and others will return user specific data if OAuth is sent. Methods that **require** or have **optional** OAuth will be indicated.

# Dates
All dates will be GMT and returned in the ISO 8601 format like `2020-09-01T09:10:11.000Z`. Adjust accordingly in your app for the user's local timezone.

# Media Links
There are several ways to construct direct links to media on the Sharix API website. The website itself uses slugs so the URLs are more readable.

| Type | URL |
|---|---|
| `movie` | `/movies/:slug` |
| `show` | `/shows/:slug` |

# Libraries
This libraries might help give your project a head start, but Sharix can't provide direct support for any of these libraries.

| Language | Repository |
|---|---|---|
| `Java` | https://github.com/Boostvolt |
| `Node.js` | https://github.com/Boostvolt |
| `React Native` | https://github.com/Boostvolt |
| `Swift` | https://github.com/Boostvolt |

# Data Structures

## Movie
_id: (string, required)
imdb_id: (string, required)
title: (string, required)
year: (integer, required)
slug: (string, optional)
synopsis: (string, required)
runtime: (integer, required)
released: (integer,  required)
trailer: (string,  required)
certification: (string,  required)
clusters: (MovieLanguages, required)
genres: (array[string], required)
images: (Images, required)
rating: (Rating, required)
type: (string, required)
language: (string,  optional)

## Show
_id: (string, required)
imdb_id: (string, required)
title: (string, required)
year: (integer, required)
slug: (string, required)
synopsis: (string, optional)
runtime: (integer, optional)
rating: (Rating, required)
images: (Images, required)
genres: (array[string], required)
type: (string, required)
tvdb_id: (string, required)
country: (string, optional)
network: (string, optional)
air_day: (string, optional)
air_time: (string, optional)
status: (string, optional)
num_seasons: (integer, required)
last_updated: (integer, optional)
latest_episode: (integer, optional)
episodes: (array[Episode], optional)

# Group Movies

## All [/movies]

### Get all movies [GET]
Returns an array of all available movies.

  + Request (application/json)

      + Headers

            sharix-api-authorization:[access_token]
            sharix-api-version: 1
            
  + Response 200 (application/json; charset=utf-8)

      + Body

            ["movies/1","movies/2","movies/3","movies/4","movies/5","movies/6","movies/7","movies/8","movies/9","movies/10"]

      + Attributes (array[string])
      
## Page [/movies/{page}]
Movies can be requested from a specific page.
### Get movies by page [GET]
Returns movies of the selected page.
  + Parameters
      + page (integer, `1`) - The page of the content you want.
      
  + Request (application/json)

    + Headers

            sharix-api-authorization:[access_token]
            sharix-api-version: 1
  
  + Response 200 (application/json; charset=utf-8)

      + Body

            {"_id":"UniqueString1","imdb_id":"UniqueString1","title":"String","year":0,"slug":"String","synopsis":"String","runtime":0,"rating":{"percentage":0,"watching":0,"votes":0},"images":{"banner":"String","fanart":"String","poster":"String"},"genres":["String"],"type":"String","language":"String","released":0,"trailer":"String","certification":"String","clusters":{"en":{"2160p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"},"1080p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"}}}}

      + Attributes (Movie)

## Sort [/movies/{page}{?sort}]
Movies can be sorted according to the following criteria:
- Trending `trending`
- Popularity `popular`
- Last added `last added`
- Top rated `rating`
- Year of publication `year`
- Name Z-A `name`
- Last updated `updated`

### Get movies by sort criteria [GET]
Returns an array of movies that correspond to the selected sort criteria.
  + Parameters
      + page (integer, `1`) - The page of the content you want.
      + sort (string, `trending`) - Sort the list of content.
        + Values
              + `trending`
              + `popular`
              + `last added`
              + `rating`
              + `year`
              + `name`
              + `updated`

  + Request (application/json)

    + Headers

            sharix-api-authorization:[access_token]
            sharix-api-version: 1

  + Response 200 (application/json; charset=utf-8)

      + Body

            [{"_id":"UniqueString1","imdb_id":"UniqueString1","title":"String","year":0,"slug":"String","synopsis":"String","runtime":0,"rating":{"percentage":0,"watching":0,"votes":0},"images":{"banner":"String","fanart":"String","poster":"String"},"genres":["String"],"type":"String","language":"String","released":0,"trailer":"String","certification":"String","clusters":{"en":{"2160p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"},"1080p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"}}}}]

      + Attributes (array[Movie])

## Order [/movies/{page}{?order}]
Movies can be orderd according to the following options:
- Upwards `1`
- Downwards `-1`

### Get movies by order [GET]
Returns an orderd list of movies that correspond to the order.
  + Parameters
      + page (integer, `1`) - The page of the content you want.
      + order (integer, `-1`) - Order the list of the content.
         + Values
              + `1`
              + `-1`

  + Request (application/json)

    + Headers

            sharix-api-authorization:[access_token]
            sharix-api-version: 1

  + Response 200 (application/json; charset=utf-8)

      + Body

            [{"_id":"UniqueString1","imdb_id":"UniqueString1","title":"String","year":0,"slug":"String","synopsis":"String","runtime":0,"rating":{"percentage":0,"watching":0,"votes":0},"images":{"banner":"String","fanart":"String","poster":"String"},"genres":["String"],"type":"String","language":"String","released":0,"trailer":"String","certification":"String","clusters":{"en":{"2160p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"},"1080p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"}}}}]

      + Attributes (array[Movie])     

## Genres [/movies/{page}{?genre}]
Movies can be requested according to the following genres:
- Adventure `adventure`
- Action `action`
- Animation `animation`
- Documentation `documentation`
- Drama `drama`
- Family `family`
- Fantasy `fantasy`
- Comedy `comedy`
- Horror `horror`
- Crime `crime`
- Music `music`
- Mystery `mystery`
- Romantic `romantic`
- Science Fiction `science-fiction`
- Thriller `thriller`
- Western `western`


### Get movies by genre [GET]
Returns an array of movies that correspond to the selected genre.
  + Parameters
      + page (integer, `1`) - The page of the content you want.
      + genre (string, `adventure`) - Filter on a genre.
         + Values
              + `adventure`
              + `action`
              + `animation`
              + `documentation`
              + `drama`
              + `family`
              + `fantasy`
              + `comedy`
              + `horror`
              + `crime`
              + `music`
              + `mystery`
              + `romantic`
              + `science-fiction`
              + `trhiller`
              + `western`
  
  + Request (application/json)

    + Headers

            sharix-api-authorization:[access_token]
            sharix-api-version: 1
            
  + Response 200 (application/json; charset=utf-8)

      + Body

            [{"_id":"UniqueString1","imdb_id":"UniqueString1","title":"String","year":0,"slug":"String","synopsis":"String","runtime":0,"rating":{"percentage":0,"watching":0,"votes":0},"images":{"banner":"String","fanart":"String","poster":"String"},"genres":["String"],"type":"String","language":"String","released":0,"trailer":"String","certification":"String","clusters":{"en":{"2160p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"},"1080p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"}}}}]

      + Attributes (array[Movie])

## Search [/movies/{page}{?keywords}]
Movies can be requested according to specific search keywords.
### Get movies by keyword [GET]
Returns an array of movies that correspond to the search keyword.
  + Parameters
      + page (integer, `1`) - The page of the content you want.
      + keywords (string, `Star Wars`) - Search based on keywords.

  + Request (application/json)

    + Headers

            sharix-api-authorization:[access_token]
            sharix-api-version: 1

  + Response 200 (application/json; charset=utf-8)

      + Body

            [{"_id":"UniqueString1","imdb_id":"UniqueString1","title":"String","year":0,"slug":"String","synopsis":"String","runtime":0,"rating":{"percentage":0,"watching":0,"votes":0},"images":{"banner":"String","fanart":"String","poster":"String"},"genres":["String"],"type":"String","language":"String","released":0,"trailer":"String","certification":"String","clusters":{"en":{"2160p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"},"1080p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"}}}}]

      + Attributes (array[Movie])

## Languages [/movies/{page}{?locale}]
Movies can be requested according to the following languages:
- English `en`
- Spanish `es`
- French `fr`
- German `de`
- Dutch `nl`
- Russian `ru`

### Get movies by language [GET]
Returns an array of movies that correspond to the selected language.
  + Parameters
      + page (integer, `1`) - The page of the content you want.
      + locale (string, `en`) - Filter on a language.
         + Values
              + `en`
              + `es`
              + `fr`
              + `de`
              + `nl`
              + `ru`
  
  + Request (application/json)

    + Headers

            sharix-api-authorization:[access_token]
            sharix-api-version: 1
            
  + Response 200 (application/json; charset=utf-8)

      + Body

            [{"_id":"UniqueString1","imdb_id":"UniqueString1","title":"String","year":0,"slug":"String","synopsis":"String","runtime":0,"rating":{"percentage":0,"watching":0,"votes":0},"images":{"banner":"String","fanart":"String","poster":"String"},"genres":["String"],"type":"String","language":"String","released":0,"trailer":"String","certification":"String","clusters":{"en":{"2160p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"},"1080p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"}}}}]

      + Attributes (array[Movie])
      
## Multiple parameters [/movies/{page}{?sort,order,genre,keywords,locale}]
Movies can be requested according to multiple parameters. The following parameters are available:
- Page `{page}`
- Sort `{sort}`
- Order `{order}`
- Genre `{genre}`
- Search `{keywords}`
- Language `{locale}`

### Get movies by multiple parameters [GET]
Returns an array of movies that correspond to the parameters.
  + Parameters
      + page (integer, `1`) - The page of the content you want.
      + sort (string, `trending`) - Sort the list of content.
        + Values
              + `trending`
              + `popular`
              + `last added`
              + `rating`
              + `year`
      + order (integer, `-1`) - Order the list of the content.
         + Values
              + `1`
              + `-1`
      + genre (string, `adventure`) - Filter on a genre.
         + Values
              + `adventure`
              + `action`
              + `animation`
              + `documentation`
              + `drama`
              + `family`
              + `fantasy`
              + `comedy`
              + `horror`
              + `crime`
              + `music`
              + `mystery`
              + `romantic`
              + `science-fiction`
              + `trhiller`
              + `western`
      + keywords (string, `Star Wars`) - Search based on keywords.
      + locale (string, `en`) - Filter on a language.
         + Values
              + `en`
              + `es`
              + `fr`
              + `de`
              + `nl`
              + `ru`
      
  + Request (application/json)

    + Headers

            sharix-api-authorization:[access_token]
            sharix-api-version: 1

  + Response 200 (application/json; charset=utf-8)

      + Body

            [{"_id":"UniqueString1","imdb_id":"UniqueString1","title":"String","year":0,"slug":"String","synopsis":"String","runtime":0,"rating":{"percentage":0,"watching":0,"votes":0},"images":{"banner":"String","fanart":"String","poster":"String"},"genres":["String"],"type":"String","language":"String","released":0,"trailer":"String","certification":"String","clusters":{"en":{"2160p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"},"1080p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"}}}}]

      + Attributes (array[Movie])      

## Details [/movie/{imdb_id}]
Details about a movie can be requested using the IMDb ID.
### Get movie details [GET]
Returns details about a single movie based on the given IMDb ID.
  + Parameters
      + imdb_id (string, `tt0468569`) - The IMDb ID of the movie you want details on.
  
  + Request (application/json)

    + Headers

            sharix-api-authorization:[access_token]
            sharix-api-version: 1
  
  + Response 200 (application/json; charset=utf-8)

      + Body

            {"_id":"UniqueString1","imdb_id":"UniqueString1","title":"String","year":0,"slug":"String","synopsis":"String","runtime":0,"rating":{"percentage":0,"watching":0,"votes":0},"images":{"banner":"String","fanart":"String","poster":"String"},"genres":["String"],"type":"String","language":"String","released":0,"trailer":"String","certification":"String","clusters":{"en":{"2160p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"},"1080p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"}}}}

      + Attributes (Movie)

# Group Shows

## Page [/shows/{page}]
Shows can be requested from a specific page.
### Get shows by page [GET]
Returns shows of the selected page.
  + Parameters
      + page (integer, `1`) - The page of the content you want.
      
  + Request (application/json)

    + Headers

            sharix-api-authorization:[access_token]
            sharix-api-version: 1
  
  + Response 200 (application/json; charset=utf-8)

      + Body

            {"_id":"UniqueString1","imdb_id":"UniqueString1","title":"String","year":0,"slug":"String","synopsis":"String","runtime":0,"rating":{"percentage":0,"watching":0,"votes":0},"images":{"banner":"String","fanart":"String","poster":"String"},"genres":["String"],"type":"String","language":"String","released":0,"trailer":"String","certification":"String","clusters":{"en":{"2160p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"},"1080p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"}}}}

      + Attributes (Show)

## Sort [/shows/{page}{?sort}]
Shows can be sorted according to the following criteria:
- Trending `trending`
- Popularity `popular`
- Last added `last added`
- Top rated `rating`
- Year of publication `year`
- Name `name`
- Last updated `updated`

### Get shows by sort criteria [GET]
Returns an array of shows that correspond to the selected sort criteria.
  + Parameters
      + page (integer, `1`) - The page of the content you want.
      + sort (string, `trending`) - Sort the list of content.
        + Values
              + `trending`
              + `popular`
              + `last added`
              + `rating`
              + `year`
              + `name`
              + `updated`

  + Request (application/json)

    + Headers

            sharix-api-authorization:[access_token]
            sharix-api-version: 1

  + Response 200 (application/json; charset=utf-8)

      + Body

            [{"_id":"UniqueString1","imdb_id":"UniqueString1","title":"String","year":0,"slug":"String","synopsis":"String","runtime":0,"rating":{"percentage":0,"watching":0,"votes":0},"images":{"banner":"String","fanart":"String","poster":"String"},"genres":["String"],"type":"String","language":"String","released":0,"trailer":"String","certification":"String","clusters":{"en":{"2160p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"},"1080p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"}}}}]

      + Attributes (array[Show])

## Order [/shows/{page}{?order}]
Shows can be orderd according to the following options:
- Upwards `1`
- Downwards `-1`

### Get shows by order [GET]
Returns an orderd list of shows that correspond to the order.
  + Parameters
      + page (integer, `1`) - The page of the content you want.
      + order (integer, `-1`) - Order the list of the content.
         + Values
              + `1`
              + `-1`

  + Request (application/json)

    + Headers

            sharix-api-authorization:[access_token]
            sharix-api-version: 1

  + Response 200 (application/json; charset=utf-8)

      + Body

            [{"_id":"UniqueString1","imdb_id":"UniqueString1","title":"String","year":0,"slug":"String","synopsis":"String","runtime":0,"rating":{"percentage":0,"watching":0,"votes":0},"images":{"banner":"String","fanart":"String","poster":"String"},"genres":["String"],"type":"String","language":"String","released":0,"trailer":"String","certification":"String","clusters":{"en":{"2160p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"},"1080p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"}}}}]

      + Attributes (array[Show])     

## Genres [/shows/{page}{?genre}]
Shows can be requested according to the following genres:
- Adventure `adventure`
- Action `action`
- Animation `animation`
- Documentation `documentation`
- Drama `drama`
- Family `family`
- Fantasy `fantasy`
- Comedy `comedy`
- Horror `horror`
- Crime `crime`
- Music `music`
- Mystery `mystery`
- Romantic `romantic`
- Science Fiction `science-fiction`
- Thriller `thriller`
- Western `western`


### Get shows by genre [GET]
Returns an array of shows that correspond to the selected genre.
  + Parameters
      + page (integer, `1`) - The page of the content you want.
      + genre (string, `adventure`) - Filter on a genre.
         + Values
              + `adventure`
              + `action`
              + `animation`
              + `documentation`
              + `drama`
              + `family`
              + `fantasy`
              + `comedy`
              + `horror`
              + `crime`
              + `music`
              + `mystery`
              + `romantic`
              + `science-fiction`
              + `trhiller`
              + `western`
  
  + Request (application/json)

    + Headers

            sharix-api-authorization:[access_token]
            sharix-api-version: 1
            
  + Response 200 (application/json; charset=utf-8)

      + Body

            [{"_id":"UniqueString1","imdb_id":"UniqueString1","title":"String","year":0,"slug":"String","synopsis":"String","runtime":0,"rating":{"percentage":0,"watching":0,"votes":0},"images":{"banner":"String","fanart":"String","poster":"String"},"genres":["String"],"type":"String","language":"String","released":0,"trailer":"String","certification":"String","clusters":{"en":{"2160p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"},"1080p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"}}}}]

      + Attributes (array[Show])

## Search [/shows/{page}{?keywords}]
Shows can be requested according to specific search keywords.
### Get shows by keyword [GET]
Returns an array of shows that correspond to the search keyword.
  + Parameters
      + page (integer, `1`) - The page of the content you want.
      + keywords (string, `WandaVision`) - Search based on keywords.

  + Request (application/json)

    + Headers

            sharix-api-authorization:[access_token]
            sharix-api-version: 1

  + Response 200 (application/json; charset=utf-8)

      + Body

            [{"_id":"UniqueString1","imdb_id":"UniqueString1","title":"String","year":0,"slug":"String","synopsis":"String","runtime":0,"rating":{"percentage":0,"watching":0,"votes":0},"images":{"banner":"String","fanart":"String","poster":"String"},"genres":["String"],"type":"String","language":"String","released":0,"trailer":"String","certification":"String","clusters":{"en":{"2160p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"},"1080p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"}}}}]

      + Attributes (array[Show])

## Languages [/shows/{page}{?locale}]
Shows can be requested according to the following languages:
- English `en`
- Spanish `es`
- French `fr`
- German `de`
- Dutch `nl`
- Russian `ru`

### Get shows by language [GET]
Returns an array of shows that correspond to the selected language.
  + Parameters
      + page (integer, `1`) - The page of the content you want.
      + locale (string, `en`) - Filter on a language.
         + Values
              + `en`
              + `es`
              + `fr`
              + `de`
              + `nl`
              + `ru`
  
  + Request (application/json)

    + Headers

            sharix-api-authorization:[access_token]
            sharix-api-version: 1
            
  + Response 200 (application/json; charset=utf-8)

      + Body

            [{"_id":"UniqueString1","imdb_id":"UniqueString1","title":"String","year":0,"slug":"String","synopsis":"String","runtime":0,"rating":{"percentage":0,"watching":0,"votes":0},"images":{"banner":"String","fanart":"String","poster":"String"},"genres":["String"],"type":"String","language":"String","released":0,"trailer":"String","certification":"String","clusters":{"en":{"2160p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"},"1080p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"}}}}]

      + Attributes (array[Show])
      
## Multiple parameters [/shows/{page}{?sort,order,genre,keywords,locale}]
Shows can be requested according to multiple parameters. The following parameters are available:
- Page `{page}`
- Sort `{sort}`
- Order `{order}`
- Genre `{genre}`
- Search `{keywords}`
- Language `{locale}`

### Get shows by multiple parameters [GET]
Returns an array of shows that correspond to the parameters.
  + Parameters
      + page (integer, `1`) - The page of the content you want.
      + sort (string, `trending`) - Sort the list of content.
        + Values
              + `trending`
              + `popular`
              + `last added`
              + `rating`
              + `year`
      + order (integer, `-1`) - Order the list of the content.
         + Values
              + `1`
              + `-1`
      + genre (string, `adventure`) - Filter on a genre.
         + Values
              + `adventure`
              + `action`
              + `animation`
              + `documentation`
              + `drama`
              + `family`
              + `fantasy`
              + `comedy`
              + `horror`
              + `crime`
              + `music`
              + `mystery`
              + `romantic`
              + `science-fiction`
              + `trhiller`
              + `western`
      + keywords (string, `Star Wars`) - Search based on keywords.
      + locale (string, `en`) - Filter on a language.
         + Values
              + `en`
              + `es`
              + `fr`
              + `de`
              + `nl`
              + `ru`
      
  + Request (application/json)

    + Headers

            sharix-api-authorization:[access_token]
            sharix-api-version: 1

  + Response 200 (application/json; charset=utf-8)

      + Body

            [{"_id":"UniqueString1","imdb_id":"UniqueString1","title":"String","year":0,"slug":"String","synopsis":"String","runtime":0,"rating":{"percentage":0,"watching":0,"votes":0},"images":{"banner":"String","fanart":"String","poster":"String"},"genres":["String"],"type":"String","language":"String","released":0,"trailer":"String","certification":"String","clusters":{"en":{"2160p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"},"1080p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"}}}}]

      + Attributes (array[Show])      

## Details [/show/{imdb_id}]
Details about a show can be requested using the IMDb ID.
### Get show details [GET]
Returns details about a single show based on the given IMDb ID.
  + Parameters
      + imdb_id (string, `tt9140560`) - The IMDb ID of the movie you want details on.
  
  + Request (application/json)

    + Headers

            sharix-api-authorization:[access_token]
            sharix-api-version: 1
  
  + Response 200 (application/json; charset=utf-8)

      + Body

            {"_id":"UniqueString1","imdb_id":"UniqueString1","title":"String","year":0,"slug":"String","synopsis":"String","runtime":0,"rating":{"percentage":0,"watching":0,"votes":0},"images":{"banner":"String","fanart":"String","poster":"String"},"genres":["String"],"type":"String","language":"String","released":0,"trailer":"String","certification":"String","clusters":{"en":{"2160p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"},"1080p":{"provider":"String","filesize":"String","size":0,"peer":0,"seed":0,"url":"String"}}}}

      + Attributes (Show)

# Group Subtitles

# Group Account